@use "common/styles/templates" as *;

.form {
  margin-bottom: 30px;

  .inputPanelWrapper {
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    display: flex;

    .inputTodo {
      @extend %input;
      padding: 10px 20px;
    }

    .button {
      border: 2px solid #ffc0cb;
      background-color: #ffffff;
      border-radius: 20px;
      padding: 8px 10px;
      color: #97bbe8;
      outline: none;
    }
  }

  .inputDeadline {
    @extend %input;
    padding: 0px 42px;
  }
}
