.pageContainer {
  max-width: 500px;

  .headerWrapper {
    padding-bottom: 30px;
    padding-top: 90px;

    .header {
      font-weight: 900;
      color: #ffffff;
      font-size: 40px;
    }
  }
}
