@use "common/styles/templates" as *;

.errorWrapper {
  justify-content: space-between;
  background-color: #ffc0cb;
  align-items: center;
  margin: 0 auto 10px;
  border-radius: 5px;
  padding: 8px 10px;
  display: flex;

  .error {
    white-space: pre-wrap;
    text-align: start;
    color: #ff0000;
  }

  .deleteButton {
    @extend %button;
    margin-left: 15px;
  }
}
