header,
form,
html,
body,
span,
div,
h1,
h2,
ul,
li,
p,
li {
  vertical-align: baseline;
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
}

header {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}

form {
  margin: 0;
}

button,
input {
  vertical-align: baseline;
  *vertical-align: middle;
  line-height: normal;
  font-size: 100%;
  margin: 0;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  appearance: button;
  *overflow: visible;
  cursor: pointer;
}

input[type="checkbox"] {
  box-sizing: border-box;
  *height: 13px;
  *width: 13px;
  padding: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

::-moz-selection,
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}
