%input {
  border: 2px solid #ffc0cb;
  background-color: #ffffff;
  letter-spacing: 0.5px;
  border-radius: 5px;
  color: #000000;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

%flex {
  justify-content: space-between;
  display: flex;
}

%button {
  background-color: #97bbe8;
  border-radius: 5px;
  color: #ff0000;
  outline: none;
  border: none;
}
