@use "common/styles/templates" as *;

.taskContainer {
  background-color: #ffffff;
  border: 1px solid #97bbe8;
  margin: 0 auto 3px;
  padding: 8px;

  .taskInfo {
    @extend %flex;
    margin-bottom: 5px;
  }

  .taskContentWrapper {
    @extend %flex;
    align-items: center;

    .input {
      margin-right: 5px;
      cursor: pointer;
    }

    .taskBody {
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      line-clamp: 2;
    }

    .deleteButton {
      @extend %button;
      margin-left: 5px;
    }
  }
}
