@import 'common/styles/templates';

.containerTask {
  background-color: white;
  max-width: 500px;
  margin: 0 auto;
}

.task {
  padding: 8px;
  border: 1px solid #97bbe8;
  margin-bottom: 3px;
}

.headerTask {
  @extend %flex;
  font-family: sans-serif;
}

.wrapper {
  @extend %flex;
  align-items: center;
}

.taskBody {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: sans-serif;
}

.buttonDelete {
  @extend %button;
}
